<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!--Descomentar esto para usar la Base de Datos de Produccion-->
		<!--<add key="CadenaBD" value="Data Source=200.69.137.167,11333;Initial Catalog=BD3K7G03_2021;User ID=BD3K7G03_2021;Password=BDG03_9874"/>-->
		<!--Descomentar esto para usar la Base de datos de test-->
		<!--<add key="CadenaBD" value="Data Source=.\SQLEXPRESS;Initial Catalog=Ferreteria;Integrated Security=True"/>-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>